@media (min-width: 320px) {
  .mobile-nav-btn {
    display: block;
  }

  .header__list {
    display: none;
  }

  .header__address {
    display: none;
  }

  .hero__block {
    flex-wrap: wrap;
  }

  .hero__block-inner2 {
    max-width: 100%;
  }

  .block-inner2__inner {
    max-width: 60%;
  }

  .hero__block-inner1 {
    max-width: 100%;
    padding: 20px;
  }

  .hero__desc {
    max-width: 100%;
    font-weight: 400;
  }

  .company__img {
    display: none;
  }

  .company__list {
    width: 100%;
    padding: 15px;
    background-color: var(--concrete);
  }

  .products__list-cards {
    --offsets: 0;
  }

  .cards__card {
    flex-direction: column;
  }

  .cards__card:nth-child(3n) {
    display: none;
  }

  .card__info-wrapper {
    max-width: 100%;
  }

  .card__image {
    max-width: 100%;
  }

  .stages__list {
    flex-wrap: wrap;
    --offsets: 0;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
  }

  .footer__info {
    text-align: center;
  }

  .footer__address {
    align-items: center;
  }
}

@media (min-width: 481px) {
  .header__address {
    display: flex;
  }

  .hero__block {
    flex-wrap: nowrap;
  }

  .hero__block-inner2 {
    max-width: 30%;
  }

  .block-inner2__inner {
    max-width: 100%;
  }

  .hero__block-inner2 {
    display: flex;
  }

  .cards__card {
    flex-direction: row;
  }

  .card__image {
    max-width: 50%;
  }

  .card__info-wrapper {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .carousel-slide {
      min-width: 50%; /* Show 2 images at a time */
  }
}

@media (max-width: 480px) {
  .carousel-slide {
      min-width: 100%; /* Show 1 image at a time */
  }
}

@media (min-width: 769px) {
  .mobile-nav-btn {
    display: none;
  }

  .header__list {
    display: flex;
  }

    .hero__desc {
      max-width: 70%;
    }

  .company__img {
    display: block;
  }

  .company__list {
    width: 50%;
    padding: 20px 30px 20px 30px;
    background-color: var(--concrete);
    border-radius: var(--radius);
  }

  .products__list-cards {
    --offsets: 1;
  }

  .stages__list {
    flex-wrap: nowrap;
  }

  .footer__wrapper {
    flex-direction: row;
    align-items: start;
    gap: var(--gap);
  }

  .footer__info {
    text-align: start;
  }
}