.hero__block {
  gap: var(--gap);
}

.hero__block-inner1 {
  flex-direction: column;
  justify-content: flex-end;
  max-width: 70%;
  padding: 100px 100px 50px 60px;
  background-color: var(--concrete);
  border-radius: var(--radius);
}

.hero__block-inner2 {
  flex-direction: column;
  justify-content: flex-end;
  max-width: 30%;
  padding: 10px;
  border-radius: var(--radius);
  background-image: url('../image/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.block-inner2__inner {
  width: 100%;
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--concrete);
}

.block-inner2__desc {
  font-size: clamp(12px, 1.11vw, 16px);
  font-weight: 400;
  color: var(--scorpion);
}

.hero__heading {
  width: 100%;
  font-size: clamp(24px, 3.75vw, 54px);
  font-weight: 600;
  color: var(--scorpion);
}

.hero__desc {
  max-width: 50%;
  margin-top: clamp(10px, 2.78vw, 40px);
  margin-bottom: clamp(15px, 3.47vw, 50px);
  font-weight: 400;
  font-size: clamp(16px, 1.39vw, 20px);
  color: var(--scorpion);
}

.hero__button-block {
  align-items: center;
  gap: var(--gap);
}

.button-block__button {
  align-items: center;
  gap: clamp(5px, 0.69vw, 10px);
  padding: 10px 3%;
  font-size: clamp(12px, 1.11vw, 16px);
  font-weight: 300;
  color: var(--concrete);
  background-color: var(--scorpion);
  border-radius: var(--radius);
  outline: none;
  transition: 0.3s ease-in-out;
}

.button-block__button--second {
  font-weight: 400;
  color: var(--scorpion);
  background-color: var(--silver);
}

.button-block__button:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.button-block__button--second:focus {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0));
}

.button-block__button--second:focus-visible {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.button-block__button--second:active {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.icon--arrow {
  height: clamp(15px, 1.74vw, 25px);
  width: clamp(15px, 1.74vw, 25px);
  fill: var(--concrete);
  stroke: var(--concrete);
  transition: 0.3s ease-in-out;
}

.button-block__button:hover .icon--arrow {
  transform: translate(3px);
}